:root {
  --grey: #859096;
  --custom-black: #263238;
  --footer-height: 60px;
  --body-top-margin: 70px;
  --body-bottom-margin: 50px;
  --body-side-margin: 20px;
}

body {
  color:var(--custom-black);
  background: #eceff1 radial-gradient(at 50% 55%, #d6dae0, #fff) no-repeat;
  background-size: auto;
  margin: var(--body-top-margin) var(--body-side-margin)  var(--body-bottom-margin)  var(--body-side-margin);
  min-height: calc(100vh - var(--body-top-margin) - var(--body-bottom-margin));

}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}
